<div class="row">
    <div class="small-6 large-centered columns">
      <div class="signup-panel">
        <p class="welcome"> Sign in</p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-mail"></i></span>
          </div>
          <div class="small-10 columns">
            <%= f.input :email, label:false, required: true, placeholder: "email" %>
          </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <%= f.input :password, label:false, required: true, placeholder: "password" %>
            </div>
          </div>
        <%= f.submit "Sign in", class: "button" %>
        <div class="row">
         <div class="small-12 large-centered columns">
         <p>Don't have an account? <%= link_to "Register", new_user_registration_path %></p>
       </div>
     </div>
      </div>
    </div>
   </div>
<% end %>













