

<div class="row collapse">
  <div class="small-12 small-centered columns text-center">
<%= simple_form_for :q, method: :get do |f| %>
  <a id="search-menu" href class="button"="#">Search Options</a>
  </div>
</div>
<div id="search-form" class="hidden">
  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="small-6 small columns">
      <%= f.input :city, label_html: { class: 'white' } %>
      <%= f.input :state, label_html: { class: 'white' }, collection: Sale::STATES %>
      </div>
      <div class="small-6 small columns">
      <%= f.input :title, label_html: { class: 'white' } %>
      <%= f.input :price, label: 'Maximum Price', label_html: { class: 'white' } %>
      </div>
      </div>
      <div class="row">
      </div>
      <div class="small-3 small-centered columns text-center">
      <%= f.submit 'Search', class: "button" %>
      <% end %>
      </div>
    </div>
  </div>
</div>


  <% @sales.each do |sale| %>

  <div class="row collapse panel fade shadow">
    <div class="small-2 large-4 columns text-center">
      <h3 class="white shadow-out"><%= "$#{sale.price.to_i}" %></h3>
      <div class="shadow-out">
      <%= image_tag sale.image.url(:thumb).to_s %>
    </div>
      </div>
      <div class="small-5 large-5 columns sticky taped2">
        <p><strong><%= link_to sale do %>
        <%= sale.title %>
          <% end %></strong>.
          <br /><%= sale.description %><br />
        </p>
        </div>
      <div class="small-2 large-3 columns text-center">
        <p><%= sale.phone_number %></p>
        <p><%= sale.city %>, <%= sale.state %></p>
    </div>
  </div>
</div>
<% end %>


