<h1>Tell us about what you are selling!</h1>
<%= simple_form_for @sale do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.input :state, collection: Sale::STATES %>
  <%= f.input :phone_number %>
  <%= f.association :category, label_method: :name %>
  <%= f.submit %>
<% end %>
