<div class="row">
    <div class="small-6 large-centered columns">
      <div class="signup-panel">
        <p class="welcome"> What are you selling?</p>
        <%= simple_form_for @sale, html: {multipart: true} do |f| %>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-at-sign"></i></span>
          </div>
          <div class="small-10 columns">
            <%= f.input :title, label: false, placeholder: "title" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-pencil"></i></span>
          </div>
          <div class="small-10 columns">
            <%= f.input :description, label: false, placeholder: "description" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-dollar"></i></span>
          </div>
          <div class="small-10 columns">
            <%= f.input :price, label: false, placeholder: "price" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-telephone"></i></span>
          </div>
          <div class="small-10 columns">
            <%= f.input :phone_number, label: false, placeholder: "phone number" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-home"></i></span>
          </div>
          <div class="small-10 columns">
            <%= f.input :city, label: false, placeholder: "city" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-home"></i></span>
          </div>
          <div class="small-10 columns">
          <%= f.input :state, label: false, placeholder: "state", collection: Sale::STATES %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-music"></i></span>
          </div>
          <div class="small-10 columns">
          <%= f.association :category, label_method: :name, label: false, placeholder: "category" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-camera"></i></span>
          </div>
          <div class="small-10 columns text-center">
            <%= f.input :image, as: :file, label: false, placeholder: "image" %>
            <div class="small-8 large-centered columns">
            <%= f.submit class: "button" %>
          </div>
          </div>
        </div>
      </div>
<% end %>

