<div class="row collapse">
  <div class="small-8 small-centered columns text-center">
    <h2 class="white"><%= @sale.title %></h2>
    <h2 class="white"><%= "$#{@sale.price.to_i}" %></h2>
    <h3 class="white"><%= @sale.description %></h3>
    <h3 class="white"><%= @sale.city %>, <%= @sale.state %></h3>
    <h3 class="white"><%= @sale.phone_number %></h3>
      <%= image_tag @sale.image_url(:showpage).to_s %>
  </div>
<div class="row collapse space">
  <div class="small-6 large-centered columns text-center">
<%= link_to "View Sales", sales_path, class: 'button' %>
<%= link_to "Sell More", new_sale_path, class: 'button' %>
  </div>
</div>
